body {
    overflow-x: hidden;
    box-sizing: border-box;
    /* background-color: rgb(238, 238, 238) !important; */
    /* background-image: linear-gradient(to right, rgb(158, 158, 158), rgb(238, 238, 238), #fff) !important; */
    /* background-image: url("../Images/LeftBG.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; */
    max-width: 100vw;
}

.grad-bar {
    width: 100%;
    height: 6px;
    background: linear-gradient(-45deg, #BE73F4, #66CCFF, #B2F75A, #FFBA77);
    background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;
}


/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

nav {
    /* background-image: linear-gradient(to right, rgb(158, 158, 158), rgb(238, 238, 238), #fff) !important; */
}

nav img {
    margin-left: 50px;
}

a.nav-link {
    color: #37373A !important;
}

.nav-item {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}

a.nav-link:hover {
    color: #4e6ff1 !important;
}

#MainData {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: 'intro vector';
}

.box {
    margin-top: 3vh;
    font-family: 'Rubik', sans-serif;
}

#intro {
    grid-area: intro;
    width: 50vw;
    padding: 0px 100px;
    text-align: justify;
    text-align-last: center;
    margin: auto;
}

.Heading {
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.headblue {
    color: #263C97;
}

.Para {
    font-weight: 450;
    margin-bottom: 25px;
}

#btngit {
    color: #263C97;
    font-weight: bold;
    background-color: transparent;
    padding: 15px;
    border: 2px solid #263C97;
    cursor: pointer;
    font-size: 13px;
    border-radius: 25px;
    transition: all 0.4s ease-in-out;
}

#btngit:hover {
    color: #fff;
    background-color: #263C97;
    border: 2px solid #263C97;
}

#vector {
    text-align: center;
    margin: auto;
    grid-area: vector;
}

#vecimg {
    width: 50vw;
}

#Partners {
    margin-top: 25px;
    background-color: #2a3758;
    padding-bottom: 3rem;
}

#parap {
    padding-top: 3rem;
    margin-bottom: 35px;
    font-size: 50px;
    color: #fff;
}

#PartnerLogos {
    margin-top: 30px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-align: center;
    align-items: center;
}

.plogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    border-radius: 50px;
    background: #eeeeee;
    /* box-shadow: 20px 20px 61px #a0a0a0, -20px -20px 61px #ffffff; */
}

.logoimg {
    width: 75%;
}


/* Contact Part  */

.contact-part {
    background-color: #252934;
    color: #fff;
    /* margin-top: 2rem; */
}

.contact-part #contact {
    padding: 3rem 0;
}

.contact-part #contact h1 {
    text-align: center;
}

.contact-part #contact .bot-line {
    border-color: #fff;
}

.contact-part #contact .contact-form {
    margin-top: 3rem;
}

.contact-part #contact .contact-form div[class^="col-"] {
    margin: auto;
}

.contact-part #contact .contact-form div[class^="col-"] .form-group {
    margin-bottom: .25rem;
}

.contact-part #contact .contact-form div[class^="col-"] .form-group .form-control {
    background-color: #1E242C;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.contact-part #contact .contact-form div[class^="col-"] .form-group:last-child {
    margin-bottom: 0;
}

.contact-part #contact .contact-form div[class^="col-"] .form_btn {
    color: #4e6ff1;
    border: 2px solid #4e6ff1;
    padding: .5rem 1rem;
    margin-top: 1rem;
    border-radius: 25px;
    white-space: nowrap;
}

.contact-part #contact .contact-form div[class^="col-"] .form_btn:hover {
    color: #fff;
    border: 2px solid #4e6ff1;
    background-color: #4e6ff1;
}


/* Contact Form ends here  */

iframe {
    border: none;
    border-radius: 25px;
    width: 80%;
    height: 300px;
}

.tcent {
    text-align: center;
}


/* Footer  */

#footer {
    background-color: #1B242F;
}

#footer p {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    color: #fff;
    margin-bottom: 0px !important;
}

#footer p span {
    color: #4e6ff1;
}

#footer .footer-up {
    text-align: center;
}

#footer .footer-up a {
    background-color: #4e6ff1;
    border-color: #4e6ff1;
    color: #fff);
    border-radius: 0;
    margin-top: -1.7rem;
}

#footer .footer-icons {
    margin-top: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

#footer .footer-icons a {
    width: 3.5rem;
    height: 3.5rem;
    color: #fff;
    background-color: #252934;
    font-size: 1.25rem;
    border-radius: 0;
    border: 0;
    margin-right: 1.5rem;
}

#footer .footer-icons a:hover:nth-child(1) {
    background-color: #000;
}

#footer .footer-icons a:hover:nth-child(2) {
    background-color: #000;
}

#footer .footer-icons a:hover:nth-child(3) {
    background-color: #000;
}

#footer .footer-icons a:hover:nth-child(4) {
    background-color: #000;
}

#footer .footer-icons a:last-child {
    margin-right: 0;
}

#footer .footer-icons a i {
    margin-top: 6px;
    margin-bottom: 12px auto;
    margin-left: 12px auto;
    margin-right: 12px auto;
    display: block;
}

.copyr {
    padding-bottom: 20px;
}

@media only screen and (max-width: 720px) {
    nav img {
        margin-left: 0px;
    }
    .box {
        margin-top: 03vh;
    }
    #intro {
        width: 100vw;
        padding: 0px 15px;
    }
    #vecimg {
        margin-top: 50px;
        width: 92vw;
    }
    .hVisit {
        margin-top: 3vh;
    }
}